#map {
	width: 1200px;
	height: 800px;
	float: left;
}

#fileupload {
	width: 400px;
	height: 400px;
	float: left;
	border: 2px dashed #ccc;
}

#fileupload.highlight {
	border-color: purple;
}